<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%-10.-10thread] [%-5level] %logger{56} ->%method:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
