target
out
.gradle
*.MF
*.class
derby.log
styles.css.gz
addons.scss

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea
.rup/
=======

# eclipse project file
.pmd
.ruleset
.settings
.classpath
.project
build
bin
test-output
.springBeans
