@mixin foreign {
    $v-sprites-url : url("../cornerstone/img/sprites.png");

    /**==== Reports menu styles ===*/
    .reports-menu {
        &.v-menubar {
             background: none !important;
             .v-menubar-menuitem-selected {
                 background: none !important;
                 .v-menubar-menuitem-caption {
                    color: $main-layout-text-color-hover !important;
                 }
             }
        }

        .v-menubar-menuitem-reports-menu-root {
            margin: -3px 0 !important;
            height: 35px !important;
            padding: 0 20px !important;

            .v-menubar-menuitem-caption {
                height: 35px !important;
                line-height: 35px !important;
                padding: 0 !important;
                color: $main-tabsheet-text-color !important;
                text-shadow: none !important;
                font-size: 13px !important;
                font-weight: bold;
                &:hover {
                    color: $main-layout-text-color-hover !important;
                    cursor: pointer;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }

        &.v-menubar-submenu {

            .v-menubar-menuitem-caption {
                font-size: 14px;
                line-height: 25px !important;
                text-shadow: none;
                padding: 1px 2px !important;
            }

            .v-menubar-menuitem.v-menubar-menuitem-selected {
                background: $v-button-color !important;
            }
        }
    }

    /*=== Styles for grid components ===*/
    .v-grid {
        background: white;
    }

    .v-grid-cell-focused:before {
        display: none !important;
    }

    .v-grid-tablewrapper th {
	    cursor: pointer;
    }

    .v-grid-footer .v-grid-column-footer-content {
    	font-size: 12px;
    }

    .v-assistive-device-only-label  label {
        font-size:0;
        width: 0px;
    }

    /*=== Styles for Usages grid ===*/
    .empty-usages-grid .v-grid-tablewrapper {
        background-image: url("img/empty_usages_table.png");
        background-repeat: no-repeat;
        background-position: center center;
    }

    /*=== Styles for Audit grid ===*/
    .empty-audit-grid .v-grid-tablewrapper {
        background-image: url("img/empty_audit_table.png");
        background-repeat: no-repeat;
        background-position: center center;
    }

    /*=== Styles for Batches grid ===*/
    .usage-batches-grid .v-grid-tablewrapper .v-grid-row > td,
    .exclude-details-by-rro-grid .v-grid-tablewrapper .v-grid-row > td {
        height: 33px !important;
        line-height: 33px !important;
    }

    /*=== Styles for filters ===*/
    .filter-field-empty-name {
        color: red;
    }

    /*=== Padding for search toolbar in modal windows ===*/
    $window-search-padding : 7px 0 0 0;

    /**==== View Scenario widget ====*/
    .view-scenario-widget {

        .v-window-contents {
            background-color: $window-background-color !important;
        }

        .search-toolbar {
            padding: $window-search-padding;
        }

        .v-table-cell-content {
            vertical-align: $table-vertical-align;
        }
    }

    /**==== Padding for search widget ====*/
    .drill-down-by-rightsholder-widget,
    .exclude-rightsholders-window,
    .exclude-source-rro-window,
    .audit-widget {
        .search-toolbar {
            padding: $window-search-padding;
        }
    }

    /*=== Styles for table with extended footer ===*/
    .v-grid-footer .v-grid-column-footer-content {
    	font-size: 11px;
    }

    /**==== Scenario last action label ====*/
    .scenario-last-action .v-label {
        padding-left: 20px;
    }

    /**==== Allows line wrapping in scenario history table ====*/
    .scenario-history-table .v-table-cell-wrapper {
        white-space: normal;
    }

    /**==== Scenario Metadata label ====*/
    .scenarios-metadata .v-label ul, .scenarios-metadata .v-label li {
    	list-style-type: none;
    	padding-left: 0px;
    	margin: 0px;
    }

    .scenarios-metadata .v-label ul {
    	padding-left: 20px;
    }

    .label-note b {
    	color: #CC0033;
    }

    .label-note {
    	font-size: 14px;
    	color: #000099;
    	font-weight: bold;
    }

   .v-label-white-space-normal {
        white-space: normal;
   }

   /**==== Error for upload field ====*/
   .usage-upload-window .v-customcomponent-error .v-textfield, .researched-usages-upload-window .v-customcomponent-error .v-textfield {
        border:red 1px solid !important;
   }

   /**==== Styles for lazy rightsholder filter widget ====*/
   .lazy-rightsholders-grid .v-grid-row > td {
        background-color: white;
   }

   .lazy-rightsholders-grid .v-grid-row-selected {
        color: black;
        text-shadow: none;
   }

   .lazy-rightsholders-grid .v-grid-row-selected > .v-grid-cell {
        background: none;
   }

   .lazy-rightsholders-grid .v-grid-cell.frozen {
        -webkit-box-shadow: none;
        padding: 1px;
        border-right: white;
   }

   .lazy-rightsholders-grid .v-grid-cell {
        padding: 0px;
        white-space: normal;
   }
}
