@mixin foreign {
    $v-sprites-url : url("../cornerstone/img/sprites.png");

    /**==== Reports menu styles ===*/
    .reports-menu {
        &.v-menubar {
             background: none !important;
             .v-menubar-menuitem-selected {
                 background: none !important;
                 .v-menubar-menuitem-caption {
                    color: $main-layout-text-color-hover !important;
                 }
             }
        }

        .v-menubar-menuitem-reports-menu-root {
            margin: -3px 0 !important;
            height: 35px !important;
            padding: 0 20px !important;

            .v-menubar-menuitem-caption {
                height: 35px !important;
                line-height: 35px !important;
                padding: 0 !important;
                color: $main-tabsheet-text-color !important;
                text-shadow: none !important;
                font-size: 13px !important;
                font-weight: bold;
                &:hover {
                    color: $main-layout-text-color-hover !important;
                    cursor: pointer;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }

        &.v-menubar-submenu {

            .v-menubar-menuitem-caption {
                font-size: 14px;
                line-height: 25px !important;
                text-shadow: none;
                padding: 1px 2px !important;
            }

            .v-menubar-menuitem.v-menubar-menuitem-selected {
                background: $v-button-color !important;
            }
        }
    }

    /*=== Styles for Usages table ===*/
    .empty-usages-table .v-table-body {
        background-image: url("img/empty_usages_table.png");
        background-repeat: no-repeat;
        background-position: center center;
    }

    /*=== Styles for filters ===*/
    .filter-field-empty-name {
        color: red;
    }

    /*=== Padding for search toolbar in modal windows ===*/
    $window-search-padding : 7px 0 0 0;

    /**==== View Scenario widget ====*/
    .view-scenario-widget {

        .v-window-contents {
            background-color: $window-background-color !important;
        }

        .search-toolbar {
            padding: $window-search-padding;
        }

        .v-table-cell-content {
            vertical-align: $table-vertical-align;
        }
    }

    /**==== Drill down by rightsholder widget ====*/
    .drill-down-by-rightsholder-widget {
        .search-toolbar {
                padding: $window-search-padding;
            }
    }

    /*=== Styles for table with extended footer ===*/
    .table-ext-footer .v-table-footer {
        font-weight: bold;
    }

    .table-ext-footer .v-table-footer-wrap {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#dcdee0');
        background: #e5e5e5 linear-gradient(#e5e5e5, #dcdee0) !important;
    }

    .table-ext-footer .v-table-footer span {
        display: block;
        margin-bottom: 4px;
    }
}
